#comments.comments
  あ
  .comments__contents
    い
    .comments__content
      う
      .comments__user
        え
        .comments__user__name
          お
        .comments__user__icon
          A
      .comments__text
        B
        .comments__text__box
          C