.article__contents
  .article__category
    .article__category--text フレンドメニュー
  - if user_signed_in?
    .article__content
      = link_to "ユーザー検索", users_path
    .article__content
      = link_to 'フォローリスト', '/users/follow_list/' + current_user.id.to_s if user_signed_in?
    .article__content
      = link_to "メッセージを送る", user_private_messages_path(current_user) if user_signed_in?
  - else
    .article__content
      ※ログインが必要です