.article__contents
  .article__category
    - if @groups.present?
      %table.article__category__contents
        %tr.article__category__content
          %th.article__heading.article__category__content.article__category__content--title
            グループ名
          %td.article__heading.article__category__content.article__category__content--detail
            管理者
          %td.article__heading.article__category__content.article__category__content--createTime
            所属人数
          %td.article__heading.article__category__content
            リンク
      %table.article__category__contents
        - @groups.each do |group|
          %tr.article__category__content
            %th.article__category__content.article__category__content--title
              = link_to group.name, edit_group_path(group.id)
            %th.article__category__content.article__category__content--title
              = group.master_name.name
            %td.article__category__content.article__category__content--detail
              = group.groupUsers.count
              人
            %td.article__category__content.article__category__content--createTime
              = group.created_at.strftime('%Y年%m月%d日')
            %td.article__category__content
              -# = link_to "詳細確認", beginner_path(id: article.id), class: "article__category__content--link"
    - else
      グループに所属していません