.form
  .form__contents
    .search__radio-content
      %h1 検索したいレベルを選択してください
      %p ※選択すると検索フォームが切り替わります
      %fieldset
        %input#item-1.radio-inline__input{:name => "accessible-radio", :type => "radio", :value => "beginner"}
        %label.radio-inline__label{:for => "item-1"}
          初級者
        %input#item-2.radio-inline__input{:name => "accessible-radio", :type => "radio", :value => "intermediate"}
        %label.radio-inline__label{:for => "item-2"}
          中級者
        %input#item-3.radio-inline__input{:name => "accessible-radio", :type => "radio", :value => "senior"}
        %label.radio-inline__label{:for => "item-3"}
          上級者

#search--box-beginner.search__radio-result
  = render 'beginners/search', { beginner: @beginner, beginners: @beginners}

#search--box-intermediate.search__radio-result
  = render 'intermediates/search', { intermediate: @intermediate, intermediates: @intermediates}

#search--box-senior.search__radio-result
  = render 'seniors/search', { senior: @senior, seniors: @seniors}