- unless current_user.id == user.id
  - if current_user.following? user
    .unfollow
      = link_to "フォローを外す", {controller: :users,action: :unfollow,user_id: user.id}, method: :put
  - else
    .follow
      = link_to "フォローをする", {controller: :users,action: :follow,user_id: user.id}, method: :put
