- @user ||= current_user
.stats
  %a{:href => "#{followed_user_path(@user)}"}
    %strong#followed.stat
      = @user.followeds.count
    フォロー
   
  %a{:href => "#{followers_user_path(@user)}"}
    %strong#followers.stat
      = @user.followers.count
    フォロワー
