.form
  .form__contents
    .form__content
      %input#search__user__field.form__search{placeholder: "検索したいユーザー名を入力"}

    .form__search__contents
      .form__search__content
        #form__search__result