-# %p.pagetop
-#   %a{:href => "#"} ↑
%footer
  #footermenu
    %ul
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
    %ul
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
    %ul
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
    %ul
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
    %ul
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
      %li
        %a{:href => "#"} メニューサンプル
  / /footermenu
  #copyright
    %small
      Copyright©
      %a{:href => "index.html"} Sample Company
      All Rights Reserved.
    %span.pr
      《
      %a{:href => "http://template-party.com/", :target => "_blank"}> Web Design:Template-Party
      》