.private-content
  = render 'side_msgbox', { messages: @messages, send_messages: @send_messages }
  .users
    %h1 フォローしている方の中からメッセージを送ることができます
    .users__lists
      - @followeds.each do |followed|
        .users__list
          .users__list__image
            = image_tag followed.image.to_s, alt: "test", class: "form__search__image"
          .users__list__name
            = link_to followed.name, user_path(followed.id)
          .users__list__link
            = link_to "メッセージを送る", new_user_private_message_path(user_id: current_user.id, send_user_id: followed.id)