.article{
  &__contents{
    width: 1100px;
    margin:  0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__heading{
    font-weight: bold;
  }

  &__category{
    width: 100%;
    padding: 30px;

    table{
      width: 100%;
      border-collapse:separate;
      border-spacing: 0;
    }

    table th{
      text-align: center;
      color:white;
      background: rgb(79, 161, 77);
      border-left: 1px solid rgb(148, 204, 147);
      border-top: 1px solid rgb(148, 204, 147);
      border-bottom: 1px solid rgb(148, 204, 147);
      box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
      width: 20%;
      padding: 10px 0;
    }

    table td{
      text-align: center;
      border-left: 1px solid #a8b7c5;
      border-bottom: 1px solid #a8b7c5;
      border-top: 1px solid #a8b7c5;
      box-shadow: 0px -3px 5px 1px #eee inset;
      width: 20%;
      padding: 10px 0;
    }

    table td:last-child{
      border-right: 1px solid #a8b7c5;
    }

    &--text{
      font-size: 30px;
      font-weight: bold;
    }

    &__contents{

    }
    &__content{
      padding: 5px 10px;
      border-radius: 5px;
      &--title{
        max-width: 120px;
        color: green;
      }
      &--master{
        max-width: 80px;
      }
      &--category{
        max-width: 60px;
      }
      &--detail{
        max-width: 300px;
        overflow: hidden;
      }
      &--createTime{
        max-width: 110px;
      }
      &--members{
        min-width: 20px;
      }
      &--link{
        max-width: 140px;
        text-decoration-line: none;
      }
    }
  }
  &__content{
    width: 300px;
    margin: 0 60px;
    text-align: center;
    justify-content: space-between;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 30px;
  }
}