.button{
  border: 1px solid #bae4ba;
  border-radius: 4px;
  padding: 5px 20px;
  background: #bae4ba;
  font-size: 16px;
}
$box-color: rgba(162, 235, 184, 0.945);
$box-havycolor: rgb(79, 161, 77);
$font-color: rgb(90, 90, 90);
