.users{
  width: 100%;
  text-align: center;
  width: calc(100%-400px);

  h1{
    margin: 30px 0;
    font-size: 24px;
    font-weight: bold;
  }
  &__lists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 20px;
  }

  &__list{
    margin: 5px 0;
    width: 200px;
    justify-content: space-between;

    a{
      text-decoration-line: none;
    }

    &__image{
      margin: 0 auto;
      line-height: 120px;
      width: 100px;
      height: 120px;
    }
    &__name{
      text-align: center;
      a{
        color: rgb(120, 120, 120);
      }
    }
    &__link{
    }
    &__errmsg{
    }
  }
}

#follow_form .unfollow a{
  color: rgb(148, 148, 148);
  text-decoration-line: none;
}
#follow_form .follow a{
  color: rgb(240, 174, 98);
  text-decoration-line: none;
}