- @beginners.each do |beginner|
  .request__contents
    .request__content
      タイトル
      = beginner.title
    .request__content
      カテゴリー
      = beginner.category
    .request__content
      言語
      = beginner.language
    .request__content
      詳細
      = beginner.detail